
/* ===== LOGIN BY INFOTEL ===== */

#firstboxlogin  {
   background-color: #FFF;
}

#logo_login {
   background: url(../../pics/logo_idf.png) center no-repeat; 
}

#display-login {
   color: #FFF;
}

#text-login {
   background-color: #DE1616;
   color: #FFF;
}

/* ===== LOGIN ===== */
/*
#firstboxlogin  {
   background-color: #E2392B;
}

#logo_login {
   background: url(../../pics/login_logo_glpi.png) center no-repeat, #A2291F; 
}

#display-login {
   color: #FFF;
}

#text-login {
   background-color: #A2291F;
   color: #FFF;
}*/


/* ====== GENERAL ====== */

a, a:link, .ui-widget-content a {
   color: #C83226;
}
/*
.main_form tr.headerRow th {
   color: #C83226;
}*/

/* ====== HEADER ====== */

#header #c_logo {
   position: absolute;
   z-index: 1000;
   width: 142px;
   height: 71px;
   float: left;
   margin-top: -10px;
   background: url("../../pics/fd_crif_logo.png") 0 0 repeat-x;
}

#header_top {
   background-color: #A2291F;
   /*background-color: #A2291F;*/
}

#c_preference a {
   color: #E9CAC8;
}

#c_recherche form #champRecherche input {
   background-color: #621913;
   color: #E9CAC8;
}

#c_menu {
   background-color: #E2392B;
}

ul#menu a.itemP, ul#menu a.itemP1 {
   color: #FFF;
}

ul#menu > li.active,
ul.ssmenu li.active {
   background-color: #A2291F;
}

ul#menu > li.active > a,
ul#menu ul.ssmenu li.active > a {
   color: #FFF;
}

ul#menu > li:hover {
   background-color: #EF3C2D;
}

ul#menu ul li a:hover {
   background: #EB3B2C;
   color: #FFF;
}

ul#menu ul li a {
   color: #C83226;
}

/* ====== SEARCH ====== */

.central .tab_cadre_fixehov th, .central .tab_cadrehov th {
   background-color: #DA4B3C;
}

.tab_cadrehov th.headHover,
.tab_cadre_fixehov th.headHover{
   background-color:#DA4B3C;
}

.tab_cadre th, .tab_cadre_fixe th, .tab_cadre_fixehov th, .tab_cadrehov th {
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 2px;
   border-radius: 0;
   margin: 0;
   font-size: 1.1em;
   color: #FFF;
   padding: 10px 5px;
   background-color:#D6928B;
   border:1px solid #EEE;
}

.tab_cadre th a, .tab_cadre_fixe th a, .tab_cadre_fixehov th a, .tab_cadrehov th a {
   color: #FFF;
}

.tab_bg_2 {
   background-color: #D7D7D7;
}

.tab_cadrehov tr.rowHover,
.tab_cadrehov td.rowHover,
.tab_cadre_fixehov tr.rowHover,
.tab_cadre_fixehov td.rowHover{
   background-color:#FFACAC;
}

.tab_cadre td, .tab_cadre_fixehov td, .tab_cadrehov td, .tab_cadre_fixe td, .tab_cadre_ticket td {
   border:1px solid #EEE;
}

/* ====== TICKET ====== */

.tab_cadre_ticket th {
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -o-border-radius: 4px;
   padding: 2px;
   border-radius: 0;
   margin: 0;
   font-size: 1.1.em;
   color: #FFF;
   padding: 10px 5px;
   background-color:#FFACAC;
}

.tab_actors {
   display: table;
}


.actor_title, .actor-head {
   background-color:#D6928B;
   color: #FFF;
}

.actor_title, .actor-bloc {
   display: table-cell;
   float: none;
   vertical-align: top;
   /*background-color: #FFF;*/
}

.actor_row {
   margin-bottom: 8px;
}

/* ====== TIMELINE ====== */

.timeline_choices li.followup {
   background:url(../../pics/timeline/followup_min.png) no-repeat;
   background-color:#FEDA90;
   color:#535353;
}
.timeline_choices li.task {
   background:url(../../pics/timeline/task_min.png) no-repeat;
   background-color: #FCAD41;
   color: #535353;
}
.timeline_choices li.document {
   background:url(../../pics/timeline/document_min.png) no-repeat;
   background-color:#9FD6ED;
   color:#3A5D4E;
}
.timeline_choices li.solution {
   background:url(../../pics/timeline/solution_min.png) no-repeat;
   background-color:#80CEAD;
   color:#425B64;
}

.timeline_history .h_content.TicketFollowup {
   background-color: #FEDA90;
   color: #535353;
   background-image: url(../../pics/timeline/followup.png);
   background-repeat: no-repeat;
}

.timeline_history .h_content.TicketTask {
   background-color: #FCAD41;
   color: #38301F;
   background-image: url(../../pics/timeline/task.png);
   background-repeat: no-repeat;
}

.timeline_history .h_content.Solution {
   background-color: #80CEAD;
   color: #425B64;
   background-image: url(../../pics/timeline/solution.png);
   background-repeat: no-repeat;
}

.timeline_history .h_content.TicketContent {
   background-color: #CCC;
   color: #093806;
   background-repeat: no-repeat;
}

.edit_document,
.delete_document {
   opacity: 1;
}

.timeline_history .filter_timeline label {
   opacity: 1;
}

.timeline_history .filter_timeline ul li {
   opacity: 1;
}
.timeline_history .filter_timeline:hover ul li {
   opacity: 1;
}

.timeline_history .timeline_img_preview img {
   width: 300px;
}

/* ====== BUTTONS ====== */

input.submit, 
span.vsubmit, a.vsubmit,
.ui-widget-content span.vsubmit, a.vsubmit, 
#BackToTop {
   color: #FFF;
   /*INFOTEL - background-color: #DE1616;*/
   background-color: #DE1616;
}
.vsubmit a {
   color: #FFF;
   text-decoration: underline;
}

input.submit:hover, 
a.vsubmit:hover, 
#BackToTop:hover {
   background-color: #FB6356;
}

#BackToTop {
   padding: 15px;
   font: bold 15px Arial, Helvetica; 
}

/* ====== Breadcrumb ====== */

.breadcrumb_item:nth-of-type(3) {
   background-color: #FB6356;
}
.breadcrumb_item:nth-of-type(3) a {
   color: #FFF !important;
}
.breadcrumb_item:nth-of-type(3):after {
   border-left-color: #FB6356;
}